body {
  margin: 60px 40px 40px 40px;
  background-color: #dfb5a4;
  font-family: 'Cormorant Garamond', serif; 
  color: #194e61;
}

nav {
  margin: 2rem 0;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: #194e61;
  text-decoration: none;
}

nav hr {
  margin-top: 2rem;
  max-width: 300px;
}


a {
  font-size: 18px;
  color: #204a5b;
}

a:hover {
  color: #290444;
}

h1 {
  margin-bottom: -30px;
  font-size: 100px;
  text-align: center;
}

#logo {
  margin: 0 auto;
  margin-top: -4rem;
  margin-bottom: 4rem;
  display: block;
}

#img-div {
  margin-top: 80px;
}
#image {
  display: block;
  max-width: 500px;
}
#img-caption {
  margin-top: 2rem;
}

#discog {
  margin-top: 40px;
}

.intro {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}

hr {
  color: black;
  border: 1px solid black;
}

.img-responsive {
  border: 1px solid black;
}

#hyperdub {
  border: none;
  max-width: 100px;
  margin: auto;
  margin-top: 40px;
}

p {
  margin-top: 20px;
  font-size: 16px;
}

#listening-p {
  margin-top: -5px;
}

#interviews {
  margin-top: 40px;
}

#links {
  margin-top: 40px;
}

/* Button */
/*
button {
  letter-spacing: 3px;
  font-size: 14px;
  background-color: white;*/
  /*border-radius: 12%;
}
*/

.info-btn {
  margin: auto;
  margin-top: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  border: 1px dashed black;
  width: 80px;
  padding-top: 0.2rem;
  height: 2.0rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 800;
}

.info-btn:hover {
  box-shadow: 3px 3px 3px #bec6d3;
}

/* Info Divs */

#slb-info,
#burial-info,
#dl-info,
#gh-info,
#untrue-info,
#sh-info,
#kindred-info,
#truant-info,
#rd-info {
  display: none;
}


#slb-info p,
#burial-info p,
#dl-info p,
#gh-info p,
#untrue-info p,
#sh-info p,
#kindred-info p,
#truant-info p,
#rd-info p {
  margin-bottom: -20px;
}

span {
  margin-left: 0px;
  color: #492024;
  font-size: 20px;
}

#burial-1-info,
#burial-2-info,
#burial-3-info,
#burial-5-info,
#burial-7-info,
#burial-8-info,
#burial-9-info,
#burial-10-info,
#burial-11-info,
#burial-12-info,
#burial-13-info,
#untrue-1-info,
#untrue-2-info,
#untrue-4-info,
#untrue-5-info,
#untrue-6-info,
#untrue-7-info,
#untrue-8-info,
#untrue-9-info {
  display: none;
  font-size: 12px;
  margin-left: 15px;
}

.hidden {
  display: none;
}

.section-p {
  margin-bottom: -15px;
}

#listening-list {
  margin-top: 40px;
}
